.favourite {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.favourite_title {
    font-size: 2vw;
    font-weight: 600;
    margin: 1vw;
}

.favourite_item {
    padding: 0 1vw;
}

.favourite_image {
    height: 15vw;
    border-radius: 1.5vw;
}

@media (max-width: 767px) {
    .favourite_title {
        font-size: 6vw;
    }
    .favourite_item {
        width: calc(100vw / 3);
    }
    .favourite_image {
        height: 45vw;
    }
}