.container {
    display: flex;
    margin: 1vw;
}

.poster_panel {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    margin-right: 1vw;
}

.poster {
    width: 16vw;
    border-radius: 1vw;
}

.film_player {
    margin: 0 1.5vw 0 1vw;
    width: 100% !important;
}

.player {
    width: 100% !important;
    max-height: 60vh;
}

.film_title, .film_title_page {
    margin: 0;
    font-weight: 600;
    font-size: 2vw;
}

.film_title {
    width: 100%;
    margin: 1vw;
}

.favourite_button {
    margin-top: .7vw;
    background: #3f2aff;
    border: none;
    font-size: 1.2vw;
    border-radius: 40px;
    padding: 1vw;
}

.favourite_button:hover {
    cursor: pointer;
}

p, i {
    margin-bottom: 1vw;
    font-size: 1vw;
}

.rating {
    display: flex;
}

.kp_rate {
    display: flex;
    align-items: center;
}

.kp_rate p:nth-child(1) {
    border-radius: 100px;
    width: fit-content;
    text-align: center;
    padding: .5vw 1vw;
    position: absolute;
    z-index: 1;
    background-color: #a3600a;
}

.kp_rate p:nth-child(2) {
    width: 6.5vw;
    padding: .5vw 1vw;
    border-radius: 100px;
    text-align: right;
    background-color: #52310c;
}

.imdb_rate {
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.imdb_rate p:nth-child(1) {
    border-radius: 100px;
    width: fit-content;
    text-align: center;
    padding: .5vw 1vw;
    position: absolute;
    z-index: 1;
    background-color: #93720b;
}

.imdb_rate p:nth-child(2) {
    width: 7.5vw;
    padding: .5vw 1vw;
    border-radius: 100px;
    text-align: right;
    background-color: #473a0b;
}

.description_desc {
    display: block;
}

.description_mob {
    display: none;
}

.directors {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .film_container {
        margin-top: 3vw;
    }
    .poster {
        width: 40vw;
    }
    p, i {
        margin-top: 1vw;
        font-size: 4vw;
    }
    .film_title {
        font-size: 6vw;
        margin: 2vw;
    }
    .poster_panel {
        margin-right: 2vw;
    }
    .favourite_button {
        font-size: 4vw;
        height: fit-content;
    }
    .description_desc {
        display: none;
    }
    .description_mob {
        display: block;
        margin: 1vw;
    }
}