header {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 2vw;
    padding: 1vw;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1vw;
}

.ecosystem {
    background: #3f2aff;
    margin-right: 1vw;
    padding: .7vw 1vw;
    border-radius: 100px;
}

.search_results {
    background: #212121;
    width: 100%;
    border-radius: 0 0 10px 10px;
    position: absolute;
    z-index: 99999;
    height: 50vh;
    overflow-y: auto;
}

.loading {
    margin-left: 1vw;
    margin-bottom: 1vw;
}

.search_result {
    display: flex;
    align-items: center;
    padding-left: .5vw;
    margin-bottom: .2vw;
}

.result_image {
    width: 5vw;
    margin-right: 1vw;
}

.nav {
    padding: 0 2vw;
    background: #1d1d1d;
}

.nav_element {
    white-space: nowrap;
    margin-right: 1vw;
}

@media (max-width: 767px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1vw;
    }
    .logo {
        font-size: 6vw;
        padding: 1vw 0;
    }
    .links {
        width: 100%;
    }
    .ecosystem {
        margin: 0;
        padding: 2vw;
    }
    .nav {
        width: 100%;
        overflow-x: auto;
        padding: 0 3vw;
    }
    .nav_element {
        width: fit-content;
        white-space: nowrap;
        margin-right: 3vw;
    }
    .result_image {
        width: 15vw;
    }
}